input[type="radio"][disabled] ~ span, input[type="checkbox"][disabled] ~ span{
  color: #999999;
  text-decoration: line-through;
}

details p{
  margin-left: 1em;
  text-indent: -1em;
}

p::first-line{
  font-size: larger;
  font-weight: bold;
}

table.colondelimiter *{
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
}

th.item{
  white-space: nowrap;
  text-align: right;
}

th.item:after {
  content: ":";
}

th.value{
  text-align: left;
}